.fondo{
    background-color:#f3f4f5;
}

.letra{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.letra1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color:#757575;
}